/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  background-color: white; }

body {
  box-sizing: border-box;
  background-color: #141414;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  overflow-x: hidden; }

img {
  max-height: 70%; }

.heading__secondary {
  font-size: 3rem;
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem; }

.swiper {
  width: 70%;
  height: 100%;
  max-height: 40rem; }
  @media only screen and (max-width: 37.5em) {
    .swiper {
      max-height: 25rem; } }
  @media only screen and (max-width: 56.25em) {
    .swiper {
      width: 100%; } }
  @media only screen and (max-width: 75em) {
    .swiper {
      width: 100%; } }
  @media only screen and (min-width: 112.5em) {
    .swiper {
      width: 60%; } }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 40rem;
  object-fit: fill; }
  @media only screen and (max-width: 37.5em) {
    .swiper-slide img {
      max-height: 25rem; } }

.swiper-pagination-bullet-active {
  background: #fa4e4c; }

.mySwiper-products {
  width: 80%; }
  @media only screen and (max-width: 56.25em) {
    .mySwiper-products {
      margin-left: 2rem;
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .mySwiper-products {
      margin-left: 1.5rem;
      width: 100%; } }

button {
  border: none;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-family: "Red Hat Display", sans-serif; }

.card {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ffffff;
  position: relative;
  border-radius: 0.5rem;
  min-width: 27rem;
  max-width: 27rem;
  min-height: 37rem; }
  @media only screen and (max-width: 75em) {
    .card {
      min-width: 20rem;
      max-width: 20rem;
      min-height: 30rem;
      max-height: 32rem; } }
  @media only screen and (max-width: 56.25em) {
    .card {
      min-width: 18rem;
      max-width: 18rem;
      min-height: 22rem;
      max-height: 24rem; } }
  .card__details {
    margin-left: 0.5rem;
    transform: translateY(-0.5rem); }
  .card__img {
    width: 100%;
    height: 20rem;
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    border-radius: 0.5rem; }
    @media only screen and (max-width: 75em) {
      .card__img {
        height: 15rem; } }
    @media only screen and (max-width: 56.25em) {
      .card__img {
        height: 11rem; } }
  .card__title {
    padding-block: 0.4rem;
    color: #141414;
    font-size: 1.8rem;
    font-weight: 500;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding-top: 5px;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .card__title {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 56.25em) {
      .card__title {
        font-size: 1.4rem; } }
  .card__stock {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    font-size: 2rem;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    font-weight: 800;
    color: green; }
    @media only screen and (max-width: 75em) {
      .card__stock {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 56.25em) {
      .card__stock {
        font-size: 1.4rem; } }
  .card__stock i {
    color: green;
    margin-right: 2px; }
  .card__stars {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 2rem;
    grid-row: 4 / 5;
    grid-column: 1 / 2; }
    @media only screen and (max-width: 75em) {
      .card__stars {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 56.25em) {
      .card__stars {
        font-size: 1.4rem; } }
  .card__stars i {
    color: goldenrod; }
  .card__price {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bolder;
    font-size: 3rem;
    grid-row: 5/-1;
    grid-column: 1 / 2;
    color: #fa4e4c; }
    @media only screen and (max-width: 75em) {
      .card__price {
        font-size: 2.8rem; } }
    @media only screen and (max-width: 56.25em) {
      .card__price {
        font-size: 2.5rem; } }
  .card__button--buy {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: linear-gradient(180deg, #ff7f7b 0%, #fa4e4c 54%);
    color: white;
    font-weight: 800;
    font-size: 2.5rem;
    width: 5.5rem;
    height: 4.5rem;
    border: none;
    border-radius: 5px 0px 5px 0px; }
    @media only screen and (max-width: 75em) {
      .card__button--buy {
        font-size: 2rem;
        width: 4.5rem;
        height: 3.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .card__button--buy {
        font-size: 1.5rem;
        width: 3.5rem;
        height: 2.5rem; } }
  .card__fav {
    cursor: pointer;
    position: absolute;
    right: 0.6rem;
    font-size: 3rem;
    top: 0.4rem;
    color: #ffffff;
    -webkit-text-stroke: 0.1vw #fa4e4c; }
    .card__fav:hover, .card__fav:active {
      color: #fa4e4c; }

.search-box {
  width: 100%;
  height: 4rem;
  width: 50rem;
  display: flex;
  align-items: center;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  position: relative;
  max-width: 40rem; }
  @media only screen and (max-width: 56.25em) {
    .search-box {
      max-width: 30rem; } }
  @media only screen and (max-width: 37.5em) {
    .search-box {
      max-width: 25rem; } }
  .search-box__input {
    position: absolute;
    width: 100%;
    height: 100%;
    flex: 1;
    border: none;
    outline: none;
    color: #6b6b6b;
    border-radius: 10rem;
    padding-left: 2rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 800; }
  .search-box__button {
    position: absolute;
    background: #ff7f7b;
    flex: 1;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    outline: none;
    color: white;
    right: 1rem; }

.segment {
  max-height: 32rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-block: 0.5rem; }

.all-products {
  display: flex;
  flex-direction: row;
  min-height: 25rem;
  height: 50rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  object-fit: cover; }

.meniuBar {
  width: 100%;
  background-color: #141414;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .meniuBar {
      display: none; } }
  .meniuBar__list {
    height: 100%;
    background-color: #141414;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    max-width: 65rem; }
    @media only screen and (max-width: 56.25em) {
      .meniuBar__list {
        width: 80%; } }
    @media only screen and (max-width: 75em) {
      .meniuBar__list {
        width: 80%; } }
  .meniuBar__link {
    color: #ffffff;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.5rem; }
    @media only screen and (max-width: 75em) {
      .meniuBar__link {
        font-size: 1.4rem; } }
    .meniuBar__link:hover {
      border: 2px solid #fa4e4c;
      border-radius: 10rem; }
  .meniuBar__link i {
    font-size: 3rem; }
    @media only screen and (max-width: 75em) {
      .meniuBar__link i {
        font-size: 2.5rem; } }

.dropdown__main {
  display: none;
  position: absolute;
  background-color: #141414;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 99;
  list-style: none;
  padding: 0;
  margin-top: 0.4rem; }

.dropdown__main li {
  padding: 3rem;
  margin: 1rem;
  border-bottom: 1px solid #fa4e4c; }

.dropdown__main li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem; }

.meniuBar__list li:hover .dropdown__main {
  display: block; }

.navigation__desktop {
  align-content: center;
  flex-direction: row;
  justify-content: center;
  width: 30%;
  max-width: 40rem; }
  @media only screen and (max-width: 75em) {
    .navigation__desktop {
      width: 20%;
      max-width: 30rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__desktop {
      display: none; } }
  .navigation__desktop__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none; }
  .navigation__desktop__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 3rem; }
  .navigation__desktop__link i {
    font-size: 3rem; }
  .navigation__desktop__link span {
    font-size: 1.6rem;
    margin-left: 1rem; }
    @media only screen and (max-width: 75em) {
      .navigation__desktop__link span {
        display: none; } }

.navigation__mobile {
  display: none;
  margin-bottom: 2rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  height: 5rem;
  background-color: #ffffff;
  border: 2px solid #fa4e4c;
  border-radius: 10rem; }
  @media only screen and (max-width: 37.5em) {
    .navigation__mobile {
      display: flex;
      align-items: center;
      justify-content: center; } }
  .navigation__mobile__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none; }
  .navigation__mobile__link {
    color: #3b3b3b;
    font-size: 3rem;
    text-decoration: none; }
    .navigation__mobile__link__active {
      font-size: 3rem;
      color: #fa4e4c; }

.category {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  text-align: flex-start; }

.category h2 {
  margin-left: 12%;
  color: white; }
  @media only screen and (max-width: 56.25em) {
    .category h2 {
      margin-left: 3%;
      font-size: 2rem; } }

footer {
  background-color: #141414;
  height: 8rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(360deg, #fa4e4c 0%, #ff7f7b 54%); }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  margin-right: 1rem;
  width: 20%; }

.logo img {
  filter: brightness(0) invert(100%); }

.posters {
  background-color: #141414; }

.mainarea {
  min-width: 100%;
  position: relative; }
