button{
    border: none;
    background:linear-gradient(160deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
     color: white;
     font-weight: 600;
     letter-spacing: 0.1rem;
     font-family: 'Raleway', sans-serif;
}