.card {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid $color-white;
    position: relative;
    border-radius: 0.5rem;

    min-width: 22rem;
    max-width: 22rem;

    min-height: 35rem;

 
    @include respond (tab-land) {

        min-width: 20rem;
        max-width: 20rem;
        min-height: 30rem;
        max-height: 32rem;
    }
    @include respond (tab-port) {

        min-width: 18rem;
        max-width: 18rem;
        min-height: 22rem;
        max-height: 24rem;
    }

    @include respond (phone) {

        min-width: 15rem;
        max-width: 15rem;
        min-height: 18rem;
        max-height: 20rem;
    }

    &__details {
        margin-left: 0.5rem;
        transform: translateY(-0.5rem);
    }

    &__img {
        width: 100%;
        height: 18rem;
        grid-row: 1 / 1;
        grid-column: 1 / -1;
        border-radius: 0.5rem;

        @include respond (tab-land) {

            height: 15rem;
        }
        @include respond (tab-port) {

            height: 11rem;
        }
        @include respond (phone) {

            height: 9rem;
        }
    }

    &__title {

        padding-block: 0.4rem;
        color: $color-black;
        font-size: 1.6rem;
        font-weight: 500;
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        padding-top: 5px;
        text-align: center;

        @include respond (tab-land) {

            font-size: 1.6rem;
        }
        @include respond (tab-port) {

            font-size: 1.4rem;
        }
        @include respond (phone) {

            font-size: 1.3rem;
            font-weight: 700;
        }
    }

    &__stock {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        font-size: 1.8rem;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        font-weight: 800;
        color: green;

        @include respond (tab-land) {

            font-size: 1.6rem;
        }
        @include respond (tab-port) {

            font-size: 1.4rem;
        }

        @include respond (phone) {

            font-size: 1.3rem;
            font-weight: 700;
        }

    }

    &__stock i {
        color: green;
        margin-right: 2px;

    }

    &__stars {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        font-size: 1.8rem;

        grid-row: 4 / 5;
        grid-column: 1 / 2;

        @include respond (tab-land) {

            font-size: 1.6rem;
        }
        @include respond (tab-port) {

            font-size: 1.4rem;
        }

        @include respond (phone) {

            font-size: 1.3rem;
            font-weight: 700;
        }
    }

    &__stars i {
        color: goldenrod;
    }

    &__price {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        font-weight: bolder;
        font-size: 3rem;
        grid-row: 5/-1;
        grid-column: 1 / 2;
        color: $color-primary;

        @include respond (tab-land) {

            font-size: 2.8rem;
        }

        @include respond (tab-port) {

            font-size:2.5rem;
        }
        @include respond (phone) {

            font-size: 2.2rem;
            font-weight: 700;
        }

    }

    &__button--buy {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        background: linear-gradient(180deg, $color-secondary 0%, $color-primary 54%);
        color: white;
        font-weight: 800;
        font-size: 2rem;
        width: 4.5rem;
        height: 3.5rem;
        border: none;
        border-radius: 5px 0px 5px 0px;

        @include respond (tab-land) {

            font-size: 2rem;
            width: 4.5rem;
            height: 3.5rem;
        }
        @include respond (tab-port) {

            font-size: 1.5rem;
            width: 3.5rem;
            height: 2.5rem;
        }

    }

    &__fav {
        cursor: pointer;
        position: absolute;
        right: 0.6rem;
        font-size: 2.5rem;
        top: 0.4rem;
        color: $color-white;
        -webkit-text-stroke: 0.1vw $color-primary;
        @include respond (phone) {

            -webkit-text-stroke: 0.25vw $color-primary;
        }
        &:hover,
        &:active {
            color: $color-primary;
        }
    }
}