.category{
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category h2{
    padding-inline: 2rem;
    max-width: 40rem;
   margin-bottom:3rem;
   color: $color-black;
   font-weight: 400;
   border-bottom: 2px solid $color-primary;
   @include respond (tab-port) {
    font-size: 3rem;
    }
    @include respond (big-desktop) {
        margin-bottom:6rem;
        font-size: 4rem;
    }

    
}