.category{
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    text-align: flex-start;
}

.category h2{
   margin-left: 12%;
   color: white;
   @include respond (tab-port) {
    margin-left: 3%;
    font-size: 2rem;
    }

}