#segment{
    max-height: 32rem;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    margin-block: 0.5rem;

}

.all-products{
    display: flex;
    flex-direction: row;
    min-height: 25rem;
    height: 50rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    object-fit: cover;
}