*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 62.5%;
    background-color: rgb(255, 255, 255);
     // 1rem = 10px 
}


body {
    box-sizing: border-box;
    background-color: $color-black;
    font-family: $font-family-secondary;
    font-weight: 800;
    overflow-x: hidden;
}

img {
    max-height: 70%;
}